.log{
width:40%;
height:90vh;
background-color:white;
margin-top:30px;
margin-left:110px;
}
h2{
text-align:center;
font-size:45px;
text-decoration:underline;
margin:auto;
padding-top:59px;
padding-right:45px;
}
.facebook{
margin-top:35px;
padding-left:170px;
}
img{
clip-path:circle(45%);
}
.twitter{
display:inline-block;
margin-right:50px;
}


INPUT-placeholder { 
text-align:center;

}
INPUT{
WIDTH:70%;
HEIGHT:7VH;
MARGIN-LEFT:73PX;
padding-left:20px;
}
.heading{
margin-top:20px;
margin-left:160px;
font-size:20px;
}  

BUTTON{
MARGIN-TOP:20PX;
BACKGROUND-COLOR:RED;
MARGIN-LEFT:120PX;
BORDER-RADIUS: 25PX;
font-size:25px;
}
.button2 {width: 50%; 

}

